
services:
  redis:
    image: redis:latest
    ports:
      - "6379:6379"
    restart: always
  ponder:
    build: .
    env_file:
      - .env
    depends_on:
      - redis
    ports:
      - "42069:42069"
      - "42080:42080"
    restart: always

  api:
    build: ./api
    env_file:
      - ./api/.env
    ports:
      - "3100:3000"
    depends_on:
      - ponder
    restart: always
