
services:
  redis:
    image: redis:latest
    ports:
      - "6379:6379"
    restart: always
  ponder:
    build: .
    env_file:
      - .env
    depends_on:
      - redis
    ports:
      - "42069:42069"
      - "42080:42080"
    restart: always

  api:
    build: 
      context: ./api
      dockerfile: Dockerfile
    env_file:
      - ./api/.env
    ports:
      - "3200:3000"
    volumes:
      - ../rds-combined-ca-bundle.pem:/rds-combined-ca-bundle.pem:ro
    depends_on:
      - ponder
    restart: always
